@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font: 1.8rem/1.2 "Poppins", sans-serif;
  background-color: #F2E8CF;
}

/* CSS Reset =========================== */
body, nav, section, footer, article, h1, h2, h3, h4, p, a, ol, ul, li, button, fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

h1 {
  font-size: 4.2rem;
  color: #DFF0F6;
}

h2 {
  font-size: 2.8rem;
  text-transform: capitalize;
  color: #0B2027;
}

h3 {
  font-size: 2.6rem;
  color: #DFF0F6;
}



.button {
  font: 1.8rem/1.2 "Poppins", sans-serif;
  color: black;
  background: #80C3DB;
  align-items: center;
  margin: 1rem;
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  cursor: pointer;
}

.button:hover {
  background: #3190AF ;
}

.card {
  background-color: #0B2027;
  margin: 2rem 1rem;
}

@media only screen and (max-width: 479px) {
  .container{
    display: flex;
    flex-direction: column;
  }
 
}

@media screen and (min-width: 480px) {
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card {
    width: 35%;
  }
  .img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
}

@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .img {
    width: 50%;
  }
}